<html>
    <body><h1>Input value for predicting task</h1>
        <h4>v1.0-b</h4>
      <form action = "../results" method = "POST">
         <p>Surface <input type = "number" name = "surface" value="120" /></p>
         <p>Level(s) <input type = "text" name = "level" value="1" /></p>
         <p>Room(s) <input type = "text" name = "room" value="2" /></p>
         <p>Garden <input type = "text" name = "garden" value="0" /></p>
         <p>Garage <input type = "text" name = "garage" value="0" /></p>
        <br>
          <input type="submit" value="Predict">




        </form>
   </body>
</html>